@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Staatliches&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    color: #2727eb;

  }

html{
  background-image: url(/images/main.bg.jpg);
  background-repeat: no-repeat;
  background-size:cover;
 }

button {
  appearance: none;
  border: solid 1px #000;
  background-color: #fff;
}


h1 {
  text-align: center;
  margin-top: 8rem;
  margin-bottom: 3rem;
  font-size: 2.3rem;
  
}

hr {
  margin: 2rem auto;
  padding: 1.5px;
  width: 30%;
  border-radius: 40%;
  border-width: 2px;
  border-color: rgb(197, 191, 191);
  background-color: rgb(141, 140, 140);
}


.book{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  gap: 20px;
  max-width: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-start;

}

.remove {
  align-self: flex-end;
  appearance: none;
  padding: 0.3rem;
  transition-duration: 0.3s;
}

#new-book {
  width: 100%;
  padding: 1rem;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 1rem;
  border: none;
  align-items: flex-end;
}

input{
  font-size: 1.2em;
  width:100%;
  padding: 0.8rem;
}


#add-book:active {
  background-color: rgb(156, 147, 147);
}

#all-books {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  border: 3px solid rgb(69, 134, 188);
  width: 90%;
  margin: 0 auto 1rem;
  margin-bottom: 70px;
  text-align: center;
  padding: 1rem;
}

#book-list{
  display:grid;
  grid-template-columns: 1fr;
  gap:2px;
  width: 100%;
  align-items: flex-start;
}

.the-book{
  display:grid;
  grid-template-columns:3fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  background-color: #99d4e0;
  padding-right: 20px;
  
}

.book-details{
  display: flex;
  gap:30px;
  padding: 15px 10px 15px 5px;
  color: black;

}

.book-details p{
  color: black;
  font-size: 1.3em;
}

.infor:first-letter {
    text-transform: uppercase;
}

#add-new-book{
  width: 65%;
  margin: 0 auto;
  margin-bottom: 20em;
}

#add-new-book h2{
  font-size:2em;
  text-align: center;
  font-style: italic;
}


.delete{
 margin-left: 1px;
 border-bottom: 6px solid black;
 border-right: 6px solid grey;
}

#add-book{
  width: 30%;
  border-bottom: 6px solid black;
  border-right: 7px solid grey;
 }



